.model-overview {
  height: 100vh;
  scroll-snap-align: center;
  display: flex;
  justify-content: center;

  &--container {
    width: 1400px;
    display: flex;
    justify-content: space-between;

    @media only screen and (max-width: 768px) {
      width: 100%;
      flex-direction: column;
    }

    &--left {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    &--right {
      display: flex;
      flex: 1;
    }

    &--list {
      list-style: none;
      display: flex;
      flex-direction: column;
      gap: 20px;
      position: relative;
    }

    &--listItem {
      font-size: 80px;
      font-weight: bold;
      cursor: pointer;
      color: transparent;
      -webkit-text-stroke: 1px white;
      transition: color 0.5s ease-in 100ms;
      &:hover {
        color: rgb(39, 97, 49);
      }
    }
  }
}
