.app {
  margin: 0;
  padding: 0;
  height: 100vh;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  overflow-y: auto;
  scrollbar-width: none;
  color: white;
  background: url("../public/img/bg.jpeg");

   &::-webkit-scrollbar {
    display: none;
  }
}
